
@font-face {
    font-family: 'nyt-franklin';
    src: url('/fonts/family/franklin/franklin-italic-700.aff6e05b305e7cf33e1f757735045876.woff2') format('woff2'),
         url('/fonts/family/franklin/franklin-italic-700.62ad1d675b21069c67430cd671b66f38.woff') format('woff'),
         url('/fonts/family/franklin/franklin-italic-700.a5d605ccf65e790384c19126565ee1f6.ttf') format('truetype');
    font-style: italic;
    font-weight: 700;
    font-display: swap;
  }

top-heading{
    font-size: 2.5rem;
    line-height: 3rem;
}
.font-styling{
    color: #121212;
    font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
    font-weight: 700;
    font-style: italic;
}
html, body, main {
    height: 100%;
    margin: 0;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        color: #333;
background-color: white;

}
body{
    max-width: 1000px;
    line-height: 1;
    color :#666;
    margin: auto;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
}
hr{
    border: 1px solid black;

}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}

#space{
    font-size: 14.25px;
font-family: nyt-franklin,helvetica,arial,sans-serif;
font-weight: 700;
letter-spacing: 0.7px;
line-height: 19px;
}
.nav-buttons{
    white-space: nowrap;
vertical-align: middle;
background-color: #567b95;
border: 1px solid #326891;
border-radius: 3px;
color: #fff;
font-size: 11px;
line-height: 11px;
font-weight: 700;
padding: 11px 12px 8px;
}
figcaption{
    text-align: left;

}
#first-caption-text{
    font-size: 0.9375rem;
line-height: 1.25rem;
color :#666;
}
.author-text{
    color: #888;
font-family: nyt-imperial,georgia,'times new roman',times,serif;
line-height: 1.125rem;
letter-spacing: 0.01em;
}

#dennis{
    
    font-size: 15px;
font-family: nyt-franklin,helvetica,arial,sans-serif;
font-weight: 700;
color: #333;

}
.small-font-size{
    font-size: small;
}
.section-1{
    margin-left: calc((100% - 600px) / 2);
    font-family: nyt-imperial, georgia, "times new roman", times, serif;
    font-size: 20px;
    line-height: 30px;
    max-width: 100%;
    width: 600px;
    color: rgb(51, 51, 51);
    vertical-align: baseline;
}
hr.newhr{
    width:100px;
    border-top: 1px solid #ccc;
    border-bottom: white;
    border-left: white;
    border-right: white;
    
}
hr.newhr2{
   border-top: 1px solid black !important;
  text-align: left ;
}

.subscribe-div{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0px;
    height: fit-content;
    font-size: 15px;
    line-height: 19px;;
    font-weight: 700;
    font-family:  nyt-franklin;

}
.heading-style{
   color: rgb(51, 51, 51);font-size: 20px;
}
.p1{
    height:auto;
    width: 234px;

}
.small-width{
    width: 200px;
    height: auto;
}